@import "tailwindcss";
@config "../../tailwind.config.ts";

@plugin "flowbite-react/plugin/tailwindcss";
@source "../../../../.flowbite-react/class-list.json";
:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.custom-shape-divider-top-1715822498 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1715822498 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 67px;
}

.custom-shape-divider-top-1715822498 .shape-fill {
	fill: #ffffff;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.demoPage {
	background-color: #fff;
	border: 1px solid #000;
}

.bookCover {
	/*background: rgb(22,62,126);
  background: linear-gradient(90deg, rgba(22,62,126,0) 0%, rgba(22,62,126,1) 0%, rgba(7,23,48,1) 2%, rgba(22,40,68,1) 4%, rgba(22,58,116,1) 86%, rgba(7,23,48,1) 100%, rgba(22,62,126,1) 100%); 
*/
	background: rgb(22, 62, 126);
	background: linear-gradient(
		90deg,
		rgba(22, 62, 126, 0) 0%,
		rgba(22, 62, 126, 1) 0%,
		rgba(7, 23, 48, 1) 2%,
		rgba(22, 40, 68, 1) 4%,
		rgba(22, 58, 116, 1) 86%,
		rgba(7, 23, 48, 1) 100%,
		rgba(22, 62, 126, 1) 100%
	);
}

.bookCoverInner {
	transform: rotate(180deg);
}

.folders-preview,
.file-explorer,
.file-previewer,
.fm-modal-header,
.fm-context-menu,
.rename-file,
.fm-toolbar .toggle-view,
.files-header {
	background-color: #1f2937 !important;
}

.item-action {
	background-color: transparent !important;
}

.file-item-container svg,
.fm-modal-header svg,
.fm-modal-heading {
	color: white !important;
}

.fm-modal-header svg {
	width: 30px !important;
	height: 30px !important;
	padding: 0.1rem !important;
}

.folders-preview .bread-crumb-container {
	pointer-events: none !important;
}

.book-aspect-ratio {
	aspect-ratio: 3/4;
}
